#content 
{
    width: 100%;
    margin-top: 20px;
}

article 
{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}


dl dt { 
	float:left;
	font-weight:bold;   
	padding:5px;
	width:30px;
	display: inline;
}
 
dl dd {
	padding: 5px;
}

.item a 
{
    position: relative;
    float: left;
    margin: 0 5px 0 0
}

#new-item 
{
    width: 600px;
}

.add-button 
{
    margin-top: 8px;
    margin-left: 10px;
    position: absolute;
    width: 75px;
    height: 35px;
}

.strikethrough 
{
    color: Red;
    text-decoration: line-through;
}


.shadow {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#delete 
{
    display: inline;
}

#items li 
{
    list-style: none;
    margin-bottom: 10px;
    width: 592px;
}

#title h2 
{
    position: relative;
    float: left;
    width: 590px;
}

#title button 
{
    margin-left: 19px;
    height: 35px;
    margin-bottom: 5px;
}